# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


output.txt
.DS_STORE
.vscode/
output
main_single
main_threaded
samples/bin
code/c++/src/events/oscillation
samples/Samples/5_Domain_Specific/nbody/galaxy_20K.bin
.vscode/settings.json
code/c++/src/gpu_events/oscillation
code/c++/src/gpu_simulation/gpu_simulation
samples/cuBLAS/Level-3/gemm/gemm
samples/cuBLAS/Level-3/gemmBatched/gemm
samples/cuBLAS/Level-3/gemmStridedBatched/gemm
samples/cuSOLVER/gesvd/gesvd
samples/cuSOLVER/gesvdjBatched/gesvdj
samples/cuSOLVER/syevjBatched/syevj
samples/eigen/gemm
samples/Samples/0_Introduction/vectorAdd/vectoradd
samples/Samples/5_Domain_Specific/nbody/nbody
.vscode/settings.json
samples/Samples/1_Utilities/deviceQuery/deviceQuery
.vscode/settings.json
