# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


output.txt
.DS_STORE
.vscode/
output
main_single
main_threaded
samples/bin
code/c++/src/events/oscillation
samples/Samples/5_Domain_Specific/nbody/galaxy_20K.bin
